header img {
  max-block-size: 100px;
  float: left;
  margin: 0.5em;
}

#login-link {
  float: right;
  margin-right: 1em;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body img {
  block-size: 500px;
}

.gallery-category img {
  block-size: 100px;
}

#greeting-container {
  margin-top: 20px;
}

footer img {
  height: 20px;
  padding: 10px;
}